    @media (min-width: 576px) {
        // .modal .modal-dialog {
        //     position: relative;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%) !important;
        //     -webkit-transform: translate(-50%, -50%) !important;
        //     margin: 0 !important;
        // }
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 1200px;
        }
    }
    
    .head-tabs {
        height: 3.75rem;
        line-height: 3.75rem;
        .nav-tabs {
            display: flex;
            flex-direction: row;
            border: none;
            .nav-item {
                flex: 1;
                a {
                    text-decoration: none;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #999999;
                    border: none;
                    padding: 0 1.25rem;
                    background: #FFFFFF;
                    text-align: center;
                    margin-top: -2px;
                    &:link,
                    &:visited,
                    &:active {
                        color: #999999;
                    }
                    &:hover {
                        color: #303133
                    }
                    &.active {
                        color: #303133;
                        border-bottom: 2px solid #333;
                    }
                }
            }
        }
    }
    
    // radio
    .md-form label.active,
    .md-form label {
        font-size: 1rem !important;
        columns: #666666;
    }
    
    // 招标1
    .methods {
        .form-check {
            padding-left: 0;
        }
        .expert-select {
            .form-check-label {
                margin-top: 1.5rem;
            }
        }
        .md-form {
            margin-top: 0;
        }
    }
    
    // 登录
    .personal-center {
        .headImgDialog .modal-content {
            -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
            background-color: transparent;
        }
        .card-wrapper .card-up {
            width: 200px;
            margin: 0 auto;
        }
        .title a {
            display: none;
        }
    }

    .personal-info{
        .headImgDialog .modal-content {
            -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
            background-color: transparent;
             
        }
        .card-wrapper .card-up {
            width: 200px;
            margin: 0 auto;
        }
        .title a {
            display: none;
        }
        
        .elUpload{
            height:90%;
            width:90%;
            margin:5%;
            .el-upload--picture-card{
              height:100%;
              width:100%;
            }
          }
    }
    
    .login {
        .card-wrapper .card-rotating .back {
            margin-top: 0 !important;
        }
        .px-1 {
            padding: 0 !important;
        }
        .modal-dialog .modal-content {
            -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
            background-color: transparent;
        }
        .resetPassword,
        .forgetPassword,
        .passwordTimes {
            .modal-dialog .modal-content {
                background-color: #FFFFFF;
            }
            .modal-dialog {
                margin-top: 10%;
            }
        }
        .card-wrapper .card-rotating {
            position: relative !important;
        }
        .registerFooter .md-form {
            margin-top: 0 !important;
            label {
                color: #2c3e50 !important;
            }
        }
        .face .modal-footer {
            padding: 1rem 2rem !important;
        }
    }
    
    // // 新闻
    // .newsDetails .carousel-inner {
    //     overflow: auto !important;
    // }
    .hezhuNews {
        h3 {
            margin-bottom: 0.5rem !important;
        }
        p {
            margin-bottom: 1rem !important;
        }
    }
    /* 设计师个人中心 */
    
    .tabs-tim {
        .nav-link {
            color: #000
        }
        .active {
            border-bottom: 2px solid #4285f4;
        }
    }